/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 févr. 2020, 14:46:37
    Author     : william.garos
*/

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 50vh;
    margin: 0;
}


.page-footer{
    z-index: 1;
    background-color: #1495c8 !important;

}
.nav-link-perso:hover{
    color: #ececec;
    text-decoration:none; 
}

.navbar-brand-perso{
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    margin-right: 3rem;
    font-size: 1.125rem;
    line-height: inherit;
    white-space: nowrap;
}
.bg-perso{
    background-color: #1495c8;
}
.shadow-perso{
    box-shadow: 0 0.205rem 0.50rem rgb(37, 62, 66) !important;
}
footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.full-height {
    min-height: 78.2vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    padding-top: 6rem !important;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

span.badge_custom{
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce)
.badge_custom {
    transition: none;
}